* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
li {list-style: none;}
a {text-decoration: none;}

@keyframes colorchange {
    0%{
        color:rgb(70, 111, 223);
    }
    25%{
        color:rgb(223, 70, 70);
    }
    50%{
        color:rgb(70, 223, 159);
    }
    75%{
        color:rgb(141, 70, 223);
    }
    100%{
        color:rgb(70, 111, 223);
    }
}

@keyframes background-change {
    0%{
        background-image: url("background.jpg");
    }

    49% {
        background-image: url("background.jpg");
    }

    50% {
        background-image: url("background2.jpg");
    }

    99%{
        background-image: url("background2.jpg");
    }

   100%{
        background-image: url("background.jpg");
   }
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
        color: #fff;
    }

    25%{
        transform: rotate(0deg);
        color: #fff;
    }

    50%{
        transform: rotate(90deg);
        color: #ff6811;
    }

    75%{
        transform: rotate(90deg);
        color: #ff6811;
    }

   100%{
        transform: rotate(0deg);
        color: #fff;
   }
}

@keyframes rotate2 {
    0%{
        transform: rotate(-1deg);
    }

    49%{
        transform: rotate(-1deg);
    }

    50%{
        transform: rotate(1deg);
    }

    99%{
        transform: rotate(1deg);
    }

   100%{
        transform: rotate(-1deg);
   }
}

.background {
    position: fixed;

    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 800px;
    width: 100%;

    animation-name: background-change;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-play-state: running;
}

.window-all {
    height: 600px;
    width: 100%;
    position: absolute;
    margin: auto;
    top: 10%;
}

.window {
    height: 300px;
    width: 300px;
    position: relative;
    margin: auto;
    top: 25%;
    overflow: hidden;
}

.window1 {
    z-index: 9;
    height: 300px;
    width: 300px;
    background-color: #ff6811; 
    position: fixed;
    object-fit: cover;
    border-radius: 5px;
}

.window1::before {
    content: "";
    background-image: url("grain.jpg");
    background-size: 600px;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 40%;
    mix-blend-mode: overlay;
}

.window2 {
    z-index: 8;
    height: 300px;
    width: 300px;
    background-color: rgb(214, 134, 134); 
    object-fit: cover;
    background-image: url("tester.jpeg");
    background-position: center;
    position: fixed;
    background-size: cover;
    border-radius: 5px;
}

.blinds-string {
    z-index: 8;
    position: relative;
    top: 150px;
    left: 49.5%;
    width: 20px;
}

/*.window:hover {
    height: 0px;
    width: 300px;

    transition-property: height;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}*/

p {
    color: white;
    font-size: 30px;
}

.top-left {
    float: left;
    position: fixed;
    top: -10px;
    left: 0px;
    margin: 35px;
    text-align: center;
    transform-origin: center;

    animation-name: rotate;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-play-state: running;
}

/*.top-left:hover {
    transform: rotate(45deg) scale(1.2);
}*/

.top-right {
    float: right;
    position: fixed;
    top: -10px;
    right: 0px;
    margin: 35px;

    animation-name: rotate;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.4s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-play-state: running;
}

/*.top-right:hover {
    transform: rotate(45deg) scale(1.2);
}*/

.bottom-left {
    float: left;
    position: fixed;
    bottom: -10px;
    left: 0px;
    margin: 35px;

    animation-name: rotate;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.4s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-play-state: running;
}

/*.bottom-left:hover {
    transform: rotate(45deg) scale(1.2);
}*/

.bottom-right {
    float: right;
    position: fixed;
    bottom: -10px;
    right: 0px;
    margin: 35px;

    animation-name: rotate;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.2s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-play-state: running;
}

/*.bottom-right:hover {
    transform: rotate(45deg) scale(1.2);
}*/

.song {
    z-index: 6;
    font-family: 'Reenie Beanie', cursive;
    font-size: 18px;
    float: right;
    position: fixed;
    display:inline;
    margin-top: 35px;
    right: 75px;

    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}

.song:hover {
    transform: scale(1.2);
}

.lyrics {
    z-index: 9;
    font-family: 'Reenie Beanie', cursive;
    position: relative;
}

.lyric1 {
    z-index: 10;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 160px;

    animation-name: rotate2;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-play-state: running;
}

.lyric2 {
    z-index: 10;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 650px;

    animation-name: rotate2;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-play-state: running;
}


.home {
    z-index: 5;
    position: fixed;
    display: inline;
    top: 35px;
    left: 49%;
    opacity: 50%;

    transition-property: transform opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}

.home:hover {
    transform: scale(1.2);
    opacity: 100%;
}

.home img {
    height: 20px;
    width: 20px;
}

.next {
    z-index: 8;
    position: fixed;
    display: inline;
    float: right;
    top: 50%;
    right: 10%;
    opacity: 50%;

    transition-property: transform opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}

.next:hover {
    transform: scale(1.2);
    opacity: 100%;
}

.prev {
    display: none;
    z-index: 8;
    position: fixed;
    display: inline;
    float: left;
    top: 50%;
    left: 10%;
    opacity: 50%;

    transition-property: transform opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
}

.prev:hover {
    transform: scale(1.2);
    opacity: 100%;
}

.next img {
    height: 20px;
}

.prev img {
    display: none;
    height: 20px;
}

#slider {
    z-index: 3;
    position: absolute;
    margin: auto;
    top: 150px;
    width: 100%;
}

#slider div {
    margin: auto;
    font-family: 'Reenie Beanie', cursive;
    font-size: 24px;
    color: white;
    text-align: center;
    top: 30%;
}

.typing {
    display: none;
    width: 500px;
    padding-bottom: 450px;

    animation-name: rotate2;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-play-state: running;
}

.typing p{
    overflow: hidden;
    border-right: .08em solid #ff6811;
    white-space: nowrap;
    margin: 0 auto;

    animation: 
        typing 4s steps(40, end),
        blink-caret .75s step-end infinite;
}

.lyric3 {
    display: none;
    width: 420px;

    animation-name: rotate2;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-play-state: running;
}

.lyric3 p{
    overflow: hidden;
    border-right: .08em solid #ff6811;
    white-space: nowrap;
    margin: 0 auto;

    animation: 
        typing 4s steps(40, end),
        blink-caret .75s step-end infinite;
}

.party {
    animation-name: colorchange;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-play-state: running;
}

@keyframes typing {
    from {width: 0}
    to {width: 100%}
}

@keyframes blink-caret {
    from, to {border-color: transparent}
    50% {border-color: #ff6811;}
}

@media screen and (max-width: 768px) {
    .background {
        height: 800px;
        width: 100%;
    }

    p {
        font-size: 24px;
    }

    .window-all {
        top: 5%;
        transform: scale(0.8);
    }

    .song {
        font-family: 'Reenie Beanie', cursive;
        font-size: 18px;
        float: right;
        position: fixed;
        display:inline;
        margin-top: 30px;
        right: 75px;
    }
    .lyric1 {
        z-index: 10;
        width: 100%;
        text-align: center;
        position: absolute;
        top: 150px;
    }
    
    .lyric2 {
        z-index: 10;
        width: 100%;
        text-align: center;
        position: absolute;
        top: 550px;
    }

    .typing {
        display: none;
        width: 400px;
        padding-bottom: 400px;
    }

    .lyric3 {
        display: none;
        width: 350px;

    }
}